{extend name='base'/}
{block name='title'}登陆--版权管理系统{/block}
{block name='three'}
<script src="__STATIC__/home/js/three.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/home/js/OrbitControls.js" type="text/javascript" charset="utf-8"></script>
{/block}
{block name='content'}
<div id="logo">
</div>
<div class="container">
	<form  action="{:url('index/index/check')}" method="post">
		<div class="form-group">
			<input type="text" class="form-control" name="account" id=""  placeholder="请输入用户名">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="password" id=""  placeholder="请输入密码">
		</div>
		<button type="submit" class="btn btn-success btn-lg">登录</button>
	</form>
</div>
{/block}
{block name='script'}
{include file="three"/}
{/block}
