<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{block name="title"}网站标题{/block}</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/bottom.css"/>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 	<script src="__STATIC__/home/js/bootstrap-switch.test.js" type="text/javascript" charset="utf-8"></script> -->
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/login.css"/>
	{block name='three'}{/block}
</head>
<body>
	{include file='header'/}
	{block name='content'}{/block}
</body>
</html>
{block name="script"}{/block}
{block name='bottom'}
	<div id="bottom">
		  BUG修复联系开发者：李杰 18581487185
	</div>
{/block}